body {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0;
}

.slider {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 20px 20px 10px gray;
    animation: slider 15s ease-in-out infinite;
}

@keyframes slider {
    100%, 0% {
        background-image: url('./images/unm1.png');
    }
    20% {
        background-image: url('./images/unm2.png');
    }
    40% {
        background-image: url('./images/unm3.png');
    }
    60% {
        background-image: url('./images/unm4.png');
    }
    80% {
        background-image: url('./images/unm5.png');
    }
}
